@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
	padding: 0;
	margin: 0;
}

div.dashboard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;	
	background-color: rgb(218, 218, 218);
	/* background-color: #30353C; */
}

body {
	font-family	: 'Ubuntu', sans-serif;
	text-align	: center;	
	font-weight: 700;
}

table {	
	background-color: rgb(218, 218, 218);
	/* background-color: #30353C; */
	border-collapse	: separate;
	border-spacing	: 5px;
}

td {
	width		: 45px; 
	line-height	: 45px;
	border-bottom: 2px outset #5198D9;
	border-radius: 5px;
	text-align	: center;
	/* margin: 20px;  NAO FUNCIONA EM TABELA*/
	
	/* manha de "esconder" o texto */
	background-color: #80D6FF;
	color		: #80D6FF;

	/* Bonitinho azul com gradiente */
	background-image: radial-gradient(#80D6FF, #5AA3F9)
}



td:hover {
	box-shadow: 4px 4px 15px -2px rgb(50, 50, 50);
}

td.clicked {
	/* 
	#FFFFFF 
	##E4E4E6
	*/
	background-color: #ddd;
	background-image: radial-gradient(#FFFFFF, #E4E4E6);
	color		: black;
	border		: 2px solid #ccc;
	font-size	: 30px;
}

p {
	margin-top: 20px;
	font-size	: 15px;
	text-align	: center;
}

