* {
	padding: 0;
	margin: 0;
}

div.dashboard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/* margin		: auto; */
}

body {
	font-family	: sans-serif;
	text-align	: center;
}

table {	

	background-color: #aaa;
	border-collapse	: separate;
	border-spacing	: 0px;
}

td {
	width		: 30px; 
	line-height	: 30px;
	border		: 2px outset rgb(23, 105, 62);
	text-align	: center;
	
	/* manha de "esconder" o texto */
	background-color: rgb(138, 240, 177);
	color		: rgb(138, 240, 177);
}

td.clicked {
	background-color: #ddd;
	color		: black;
	font-size	: 20px;
	border		: 2px solid #ccc;
}

p {
	margin-top: 20px;
	font-size	: 15px;
	text-align	: center;
}

